# SPDX-FileCopyrightText: 2026 Onur Tuncer and Stereon contributors
# SPDX-License-Identifier: MPL-2.0
---
Language: Cpp
BasedOnStyle: LLVM
Standard: Latest
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
FixNamespaceComments: true
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Left
BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterNamespace: false
  AfterControlStatement: Never
  BeforeElse: false
  BeforeCatch: false
  SplitEmptyFunction: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<catch2/'
    Priority: 2
  - Regex: '^<[a-z_]+>$'
    Priority: 3
  - Regex: '.*'
    Priority: 1
SortIncludes: CaseSensitive
InsertNewlineAtEOF: true
...
